* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --forms: 47.3rem;
  font-size: 62.5% !important; /* 1rem = 10px */
}

/* TEMA */
/* [data-bs-theme=dark] {
  }
  */
[data-bs-theme="light"] {
  --hue: 0;
  --bs-gray: hsl(var(--hue), 0%, 24%);
  --bs-gray-light: hsl(var(--hue), 0%, 44%);
  --bs-red: hsl(calc(var(--hue) + 356), 83%, 52%);
  --bs-info: hsl(calc(var(--hue) + 216), 87%, 55%);
}

body {
  font-family: "Inter", sans-serif;
  font-size: 1.6rem;
  height: fit-content;
  width: auto;
  overflow: overlay;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #ededed;
}

p {
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  background-color: transparent;
  border-color: transparent;
}

.container-fluid {
  --bs-gutter-x: 0rem !important;
}

.navbar {
  position: sticky;
  background: var(--bs-red, #ea1d2c);
  width: 100%;
  align-items: center;
  transition: width 0.3s ease, transform 0.3s ease, align-items 0.3s ease;
}

.nav-link {
  width: 100%;
  display: flex;
  padding-bottom: 1rem;
  align-items: center;
  justify-content: center;
  gap: 0.4rem;
  align-self: stretch;
  padding-bottom: 1rem;
  border-bottom: 4px solid transparent;
}

.nav-link:hover {
  border-color: #fff;
}

a.nav-link p {
  display: none;
  margin: 0;
}

.navbar:hover a.nav-link p {
  display: flex;
  color: #fff;

  font-size: 1.9rem;
  font-weight: 700;
  align-items: center;
}

a.nav-link.active {
  padding-bottom: 1rem;
  border-bottom: 4px solid #fff;
}

a.nav-link p {
  display: none;
}

@media (min-width: 576px) {
  .navbar {
    width: 9.9rem;
    align-items: start;
  }
  .navbar:hover {
    width: 21.8rem;
    align-items: start;
  }
  .navbar-collapse {
    align-items: center;
    gap: 4.8rem;
    flex-direction: column;
    align-items: center;
    width: fit-content;
    width: 100%;
  }
  .navbar-collapse ul {
    gap: 5.8rem;
    align-items: center;
  }

  .navbar-collapse ul li a {
    display: flex;
    align-items: center;
    justify-items: center;
  }

  .navbar-expand-sm {
    position: fixed;
    z-index: 100;
    left: 0;
    top: 0;
    display: flex;
    align-items: center;
    width: 9.9rem;
    height: 100dvh;
    padding-top: 8rem;
    padding-inline: 1.6rem;
    flex-direction: column;
    gap: 4.8rem;
    flex-shrink: 0;
    background: var(--bs-red, #ea1d2c);
    box-shadow: 4px 0px 4px 5px rgba(0, 0, 0, 0.08);
  }
  .row {
    padding-left: 12rem;
  }
}

.row {
  width: 100%;
}

.col {
  display: flex;
  min-width: 32.8rem;
  max-width: 67.6rem;
  padding: 1rem 0rem 2rem 0rem;
  flex-direction: column;
  /* align-items: center; */
  gap: 2rem;
  flex: 1 0 0;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

i {
  color: var(--bs-black, #000);
}

#expense-body .collum {
  display: flex;
  margin-top: 8rem;
  flex-direction: column;
  align-items: center;
  gap: 1.2rem;
  border-radius: 0.8rem;
  background: var(--bs-white, #fff);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  padding: 0.5rem;
}

#control-month {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.875rem;
}

#control-month p {
  color: var(--bs-black);
  font-size: 1.79rem;
  font-weight: 700;
  line-height: 2.18rem;
}

.table {
  flex-direction: column;
  align-items: center;
  gap: 0.75rem;
  overflow: hidden;
}

thead {
  width: 100%;
  overflow-x: auto;
}

thead tr {
  display: flex;
  justify-content: space-between;
  width: 100%;
  gap: 0.8125rem;
}

thead tr th {
  display: flex;
  width: 100%;
  justify-content: center;
  gap: 0.375rem;
}

tr th button {
  color: var(--bs-black);
  font-size: 1.541rem;
  font-weight: 700;
  line-height: 3rem;
}

tr th .bi-chevron-expand::before {
  color: #3e3e3e;
  line-height: 3rem;
}

tbody {
  display: flex;
  height: 30.8125rem;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.125rem;
  overflow: auto;
}

tbody tr {
  display: flex;
  padding-bottom: 1.125rem;
  justify-content: space-evenly;
  align-items: flex-start;
  align-self: stretch;
  border-left: 2px solid var(--bs-red);
  /* flex-direction: column; */
  /* justify-content: center; */
}

tbody tr td:nth-last-child(1) {
  display: flex;
  justify-content: center;
  gap: 1rem;
  padding-left: 5rem;
}

tbody tr td:nth-last-child(1) i {
  font-size: 2.5rem;
}

tbody tr td .bi-toggle-on {
  color: #67a85d;
}

tbody tr td .bi-toggle-off {
  color: var(--bs-red);
}

tbody tr th,
tbody tr td {
  text-align: center;
  width: 14.5rem;
}

tbody th {
  color: transparent !important;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 3rem;
  text-align: start !important;
}

tbody tr td p {
  text-align: start;
  color: var(--bs-black);
  font-size: 1.5rem;
  line-height: 1.75rem;
}

tbody tr td p + p {
  color: var(--bs-gray-light);
}

tbody tr td span {
  color: var(--bs-red);
}

.custom-card {
  display: flex;
  width: 140px;
  height: 140px;
  padding: 11px 9px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 6px;
  flex-shrink: 0;
  border-radius: 11px;
  background: #fff;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  font-size: 15px;
  font-weight: 500;
}

.notificacoes {
  display: flex;
  width: 100%;
  min-height: 113px;
  padding: 12px 32px;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 6px;
  flex-shrink: 0;
  border-radius: 12px;
  background: #fff;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  line-height: 1;
}

.notificacoes h1 {
  color: #000;
  font-family: Inter, sans-serif;
  font-size: 18.906px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.notificacoes p {
  color: #000;
  font-family: Inter, sans-serif;
  font-size: 16.453px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.search-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.search-box {
  position: relative;
  width: 600px;
  height: 230px;
  border-radius: 24px;
  background: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.close-button {
  width: 16px;
  height: 16px;
  position: absolute;
  top: 16px;
  right: 16px;
  background-color: #ea1d2c;
  color: white;
  font-size: 10px;
  font-weight: bold;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 0;
}

.close-button:hover {
  background-color: #c71620;
}

.close-button:focus {
  outline: none;
}

.search-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}

.search-input {
  width: 542px;
  height: 51px;
  border-radius: 8px;
  border: 2px solid #676767;
  background: #fff;
  padding: 0 16px;
  font-size: 1.6rem;
}

.search-button {
  display: flex;
  width: 227px;
  padding: 12px 32px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1px;
  border-radius: 5px;
  background: #ea1d2c;
  color: #fff;
  border: none;
  cursor: pointer;
  font-size: 1.6rem;
}

.search-button:hover {
  background: #c71620;
}

@media (max-width: 768px) {
  .search-box {
    width: 90%;
    height: auto;
    padding: 20px;
  }

  .search-input {
    width: 100%;
  }

  .search-button {
    width: 100%;
  }
}

/* CATEROGIAS */
.category {
  justify-content: start;
  align-items: baseline;
  gap: 0.5rem;
  box-shadow: none;
}
.category h2 {
  color: #000;
  font-size: 3rem;
  font-weight: 700;
}

.category div {
  width: 100%;
  height: fit-content;
  flex-shrink: 0;
  border-radius: 12px;
  background: #fff;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  padding: 12px 14px;
}

.category details {
  margin-top: 3.8rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid var(--bs-gray-light);
  position: relative;
}

.category div h3 {
  color: var(--bs-black);
  font-size: 2.4rem;
  font-weight: 700;
}

 div summary {
  color: #000;
  font-size: 2rem;
  font-weight: 500;
  line-height: 2.8rem;
  list-style: none;
}

 div summary::before {
  content: ">";
  color: var(--bs-gray);
  padding-right: 1rem;
}

div details[open] summary::before {
  content: "/";
  color: var(--bs-red);
}

 div details p {
  text-indent: 2rem;
  color: var(--bs-black);

  font-size: 1.5rem;
}

.category div p:nth-child(2) {
  padding-top: 1rem;
}

details button {
  position: absolute;
  top: 0;
  right: 0;
}

/* CHARTS */
.chart {
  gap: 2rem;
}

.expense-category {
  width: 100%;
  max-width: none;
  border-radius: 12px;
  border-radius: 12px;
box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  padding: 12px 14px;
  flex-direction: column;
}

.expense-category h2 {
  color: #000;
  font-size: 3rem;
  font-weight: 700;
}

#expense-category-body {
  width: 100%;
  flex-wrap: wrap;
}
.expense-category details {
  padding-left: 4rem;
  padding-bottom: 2rem;
  width: fit-content;
}
.expense-category summary {
  width: 30rem;
  position: relative;
}

.expense-category summary span {
  position: absolute;
  right: 0;
}