* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --forms: 47.3rem;
  font-size: 62.5%; /* 1rem = 10px */
}

/* TEMA */
/* [data-bs-theme=dark] {
  }
  */
[data-bs-theme="light"] {
  --hue: 0;
  --bs-gray: hsl(var(--hue), 0%, 24%);
  --bs-gray-light: hsl(var(--hue), 0%, 44%);
  --bs-red: hsl(calc(var(--hue) + 356), 83%, 52%);
  --bs-info: hsl(calc(var(--hue) + 216), 87%, 55%);
}

body {
  font-family: "Inter", sans-serif;
  font-size: 1.6rem;
  height: fit-content;
  width: auto;
  overflow: overlay;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #ededed;
}

p {
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

.navbar {
  position: sticky;
  background: var(--bs-red, #ea1d2c);
  width: 9.9rem;
  align-items: start;
  transition: width 0.3s ease, transform 0.3s ease, align-items 0.3s ease;
}

.navbar:hover {
  width: 21.8rem;
  align-items: start;
}

.nav-link {
  width: 100%;
  display: flex;
  padding-bottom: 1rem;
  align-items: center;
  justify-content: center;
  gap: 0.4rem;
  align-self: stretch;
  padding-bottom: 1rem;
  border-bottom: 4px solid transparent;
}

.nav-link:hover {
  border-color: #fff;
}

a.nav-link p {
  display: none;
  margin: 0;
}

.navbar:hover a.nav-link p {
  display: flex;
  color: #fff;

  font-size: 1.9rem;
  font-weight: 700;
  align-items: center;
}

a.nav-link.active {
  padding-bottom: 1rem;
  border-bottom: 4px solid #fff;
}

a.nav-link p {
  display: none;
}

@media (min-width: 576px) {
  .navbar-collapse {
    align-items: center;
    gap: 4.8rem;
    flex-direction: column;
    align-items: center;
    width: fit-content;
    width: 100%;
  }
  .navbar-collapse ul {
    gap: 5.8rem;
    align-items: center;
  }

  .navbar-collapse ul li a {
    display: flex;
    align-items: center;
    justify-items: center;
  }

  .navbar-expand-sm {
    position: fixed;
    z-index: 100;
    left: 0;
    top: 0;
    display: flex;
    align-items: center;
    width: 9.9rem;
    height: 100dvh;
    padding-top: 8rem;
    padding-inline: 1.6rem;
    flex-direction: column;
    gap: 4.8rem;
    flex-shrink: 0;
    background: var(--bs-red, #ea1d2c);
    box-shadow: 4px 0px 4px 5px rgba(0, 0, 0, 0.08);
  }
}

.row {
  width: 100%;
  padding-left: 12rem;
}

.col {
  display: flex;
  min-width: 32.8rem;
  max-width: 67.6rem;
  padding: 1rem 0rem 2rem 0rem;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  flex: 1 0 0;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

i {
  color: var(--bs-black, #000);
}

#expense-body .collum{
  margin-top: 8rem;
  height: 60rem;
  flex-direction: column;
  align-items: center;
  gap: 1.2rem;
  flex-shrink: 0;

  border-radius: 0.8rem;
  background: var(--bs-white, #fff);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.custom-card {
  display: flex;
  width: 140px;
  height: 140px;
  padding: 11px 9px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 6px;
  flex-shrink: 0;
  border-radius: 11px;
  background: #FFF;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  font-size: 15px;
  font-weight: 500;
}

.notificacoes{
  display: flex;
  width: 100%;
  min-height: 113px;
  padding: 12px 32px;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 6px;
  flex-shrink: 0;
  border-radius: 12px;
  background: #FFF;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  line-height: 1;
}

.notificacoes h1{
  color: #000;
  font-family: Inter, sans-serif;
  font-size: 18.906px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.notificacoes p{
  color: #000;
  font-family: Inter, sans-serif;
  font-size: 16.453px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}