@import url("./config.css");
@import url("./navbar.css");
@import url("./layout.css");

body {
  font-size: 1.6rem;
  height: fit-content;
  width: auto;
  overflow: overlay;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
/* TABLE */
.collum {
  display: flex;
  margin-top: 8rem;
  flex-direction: column;
  align-items: center;
  gap: 1.2rem;
  border-radius: 0.8rem;
  background: var(--bs-white, #fff);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  padding: 0.5rem;
}

#control-month {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.875rem;
}

#control-month p {
  color: var(--bs-black);
  font-size: 1.79rem;
  font-weight: 700;
  line-height: 2.18rem;
}

.table {
  flex-direction: column;
  align-items: center;
  gap: 0.75rem;
  overflow: hidden;
}

thead {
  width: 100%;
  overflow-x: auto;
}

thead tr {
  display: flex;
  justify-content: space-between;
  width: 100%;
  gap: 0.8125rem;
}

thead tr th {
  display: flex;
  width: 100%;
  justify-content: center;
  gap: 0.375rem;
}

tr th button {
  color: var(--bs-black);
  font-size: 1.541rem;
  font-weight: 700;
  line-height: 3rem;
}

tr th .bi-chevron-expand::before {
  color: #3e3e3e;
  line-height: 3rem;
}

tbody {
  display: flex;
  height: 30.8125rem;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.125rem;
  overflow: auto;
}

tbody tr {
  display: flex;
  padding-bottom: 1.125rem;
  justify-content: space-evenly;
  align-items: flex-start;
  align-self: stretch;
  border-left: 2px solid var(--bs-primary);
  /* flex-direction: column; */
  /* justify-content: center; */
}

tbody tr td:nth-last-child(1) {
  display: flex;
  justify-content: center;
  gap: 1rem;
  padding-left: 5rem;
}

tbody tr td:nth-last-child(1) i {
  font-size: 2.5rem;
}

tbody tr td .bi-toggle-on {
  color: #67a85d;
}

tbody tr td .bi-toggle-off {
  color: var(--bs-red);
}

tbody tr th,
tbody tr td {
  text-align: center;
  width: 14.5rem;
}

tbody th {
  /* color: transparent !important; */
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 3rem;
  text-align: start !important;
}

tbody tr td p {
  text-align: start;
  color: var(--bs-black);
  font-size: 1.5rem;
  line-height: 1.75rem;
}

tbody tr td p + p {
  color: var(--bs-gray-light);
}

tbody tr td span {
  color: var(--bs-red);
}

/* SEARCH */

.search-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.search-box {
  position: relative;
  width: 600px;
  height: 230px;
  border-radius: 24px;
  background: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.close-button {
  width: 16px;
  height: 16px;
  position: absolute;
  top: 16px;
  right: 16px;
  background-color: #ea1d2c;
  color: white;
  font-size: 10px;
  font-weight: bold;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 0;
}

.close-button:hover {
  background-color: #c71620;
}

.close-button:focus {
  outline: none;
}

.search-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}

.search-input {
  width: 542px;
  height: 51px;
  border-radius: 8px;
  border: 2px solid #676767;
  background: #fff;
  padding: 0 16px;
  font-size: 1.6rem;
}

.search-button {
  display: flex;
  width: 227px;
  padding: 12px 32px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1px;
  border-radius: 5px;
  background: #ea1d2c;
  color: #fff;
  border: none;
  cursor: pointer;
  font-size: 1.6rem;
}

.search-button:hover {
  background: #c71620;
}

@media (max-width: 768px) {
  .search-box {
    width: 90%;
    height: auto;
    padding: 20px;
  }

  .search-input {
    width: 100%;
  }

  .search-button {
    width: 100%;
  }
}

/* CATEROGIAS */
.category {
  justify-content: start;
  align-items: baseline;
  gap: 0.5rem;
  box-shadow: none;
}
.category h2 {
  color: #000;
  font-size: 3rem;
  font-weight: 700;
}

.category div {
  width: 100%;
  height: fit-content;
  flex-shrink: 0;
  border-radius: 12px;
  background: #fff;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  padding: 12px 14px;
}

.category details {
  margin-top: 3.8rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid var(--bs-gray-light);
  position: relative;
}

.category div h3 {
  color: var(--bs-black);
  font-size: 2.4rem;
  font-weight: 700;
}

div summary {
  color: #000;
  font-size: 2rem;
  font-weight: 500;
  line-height: 2.8rem;
  list-style: none;
}

div summary::before {
  content: ">";
  color: var(--bs-gray);
  padding-right: 1rem;
}

div details[open] summary::before {
  content: "/";
  color: var(--bs-red);
}

div details p {
  text-indent: 2rem;
  color: var(--bs-black);

  font-size: 1.5rem;
}

.category div p:nth-child(2) {
  padding-top: 1rem;
}

details button {
  position: absolute;
  top: 0;
  right: 0;
}

/* CHARTS */
.chart {
  gap: 2rem;
}

.expense-category {
  width: 100%;
  max-width: none;
  border-radius: 12px;
  border-radius: 12px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  padding: 12px 14px;
  flex-direction: column;
}

.expense-category h2 {
  color: #000;
  font-size: 3rem;
  font-weight: 700;
}

#expense-category-body {
  width: 100%;
  flex-wrap: wrap-reverse;
}
.expense-category details {
  padding-left: 4rem;
  padding-bottom: 2rem;
  width: fit-content;
}
.expense-category summary {
  width: 30rem;
  position: relative;
}

.expense-category summary span {
  position: absolute;
  right: 0;
}

#resume {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.3rem;
  width: 24.3rem;
  justify-content: space-evenly;
}

#resume div p:nth-child(2) {
  font-size: 3.9rem;
  font-weight: 700;
  line-height: 4.2rem;
}

.greeting-container {
  width: fit-content;
  display: inline-flex;
  align-items: center;
  gap: 2.6rem;
}

.text-container {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 1rem;
}

.greeting-text {
  text-align: center;
  color: var(--Colors-Style-Ifood-Mine-Shaft, #3e3e3e);
  font-size: 4.84rem;
  font-weight: 700;
  line-height: 7rem;
  word-wrap: break-word;
  margin: 0;
}

.rotated-border {
  width: 0.4rem;
  height: 6rem;
  background-color: black;
}

.image-container {
  width: 8.65rem;
  height: 6.1rem;
  position: relative;
}

.first-image {
  width: 6rem;
  height: 6rem;
  position: absolute;
  top: 0.1rem;
  left: 0;
  border-radius: 3.69rem;
  flex-shrink: 0;
}

.second-image {
  width: 6rem;
  height: 6rem;
  position: absolute;
  top: 0;
  left: 2.65rem;
  border-radius: 8rem;
  flex-shrink: 0;
}

.frame-group1 {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  gap: 3.2rem;
  align-self: stretch;
}

.rectangle-parent1 {
  display: flex;
  align-items: center;
  gap: 2.4rem;
  align-self: stretch;
  background: #ededed;

  border-radius: 0.8rem;
  border: 1rem solid #fff;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.frame-child1 {
  width: 23.5rem;
  height: 2.4rem;

  border-radius: 0.8rem;
  background: var(--bs-primary);
  box-shadow: 0px 4px 4px 0px var(--bs-box-shadow);
}

.frame-parent1 {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 33px;
  text-align: center;
  font-size: 48.4px;
  color: #3e3e3e;
}

.div1 {
  color: var(--bs-black);
  font-size: 1.6rem;
}

.frame-container1 {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  gap: 1rem;
  align-self: stretch;
}

.parent {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
}

.parent p {
  color: var(--bs-black);
  font-size: 2.95rem;
  font-weight: 500;
}

.edit-overlay {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  justify-content: flex-end;
  align-items: center;
  z-index: 1000;
}

.edit-box {
  width: 65.6rem;
  height: 102.4rem;
  position: relative;
  background: #fff;
  box-shadow: -0.3rem 0.6rem 0.85rem 0.1rem var(--bs-box-shadow);
  border-radius: 1.2rem;
  overflow: hidden;
}

.edit-close-button {
  width: 3.5rem;
  height: 3.5rem;
  position: absolute;
  top: 13.3rem;
  left: 60.3rem;
  background-color: var(--bs-primary);
  color: #fff;
  font-size: 1.6rem;
  font-weight: bold;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.edit-close-button:hover {
  background-color: #c71620;
}

.edit-close-button:focus {
  outline: none;
}

.edit-box h1 {
  position: absolute;
  left: 1.8rem;
  top: 11.5rem;
  color: var(--bs-gray);
  font-size: 4.84rem;
  font-weight: 700;
  line-height: 7rem;
  word-wrap: break-word;
}

.save-button {
  position: absolute;
  width: 22.7rem;
  height: 5.2rem;
  left: 41.1rem;
  top: 91.5rem;
  background: var(--bs-primary);
  border-radius: 0.5rem;
  color: white;
  font-size: 1.985rem;
  font-weight: 400;
  line-height: 2.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.save-button:hover {
  background-color: #c71620;
  color: white;
}

.save-button:focus {
  outline: none;
}

.delete-button {
  position: absolute;
  width: 22.7rem;
  height: 5.2rem;
  padding-left: 3.2rem;
  padding-right: 3.2rem;
  padding-top: 1.2rem;
  padding-bottom: 1.2rem;
  left: 14.6rem;
  top: 91.5rem;
  background: white;
  border-radius: 0.5rem;
  border: 0.2rem solid var(--bs-primary);
  color: var(--bs-primary);
  font-size: 1.985rem;
  font-weight: 400;
  line-height: 2.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.delete-button:hover {
  background-color: #f2f2f2; 
  border-color: #c71620; 
}

.delete-button:focus {
  outline: none;
}